# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Balls.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Unity_Projects\2048 merge balls\Assets\Scripts\Game\Balls\.idea\.idea.Balls.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
