# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.merge-balls-game.iml
# Datasource local storage ignored files
/../../../../../../:\Unity_Projects\merge-balls-game\.idea\.idea.merge-balls-game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
